/////////////////
//   MIXINS
/////////////////

@mixin button-shape() {
    outline: none;
    border: 1px solid rgb(14, 14, 14);
    color: rgb(14, 14, 14);
    text-shadow: 0rem -.3rem .6rem rgba(230, 230, 230, 0.8);
    border-radius: 1rem;
    box-shadow: 0rem .4rem 1.3rem rgba(0, 0, 0, 0.8);
}

@mixin button-content() {
    font-family: 'Cormorant Infant', serif;
    font-size: 2.4rem;
    font-weight: bold;
    padding: .3rem .8rem;
}

@mixin flex-row() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/////////////////
//   BASE
/////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Cormorant Infant', serif;
    
    @media only screen and (max-width: 900px) {
        font-size: 50%;
    }
}

body {
    background-color: rgb(53, 53, 53);
    
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    color: white;
}

/////////////////
//   HEADER
/////////////////

.header {
    text-align: center;
    margin: 1rem 0 4rem 0;
    font-size: 2rem;
    
    @media only screen and (max-width: 700px) {
        margin: 1rem 0;
        font-size: 1.6rem;
    }
}

i {
    margin-right: 1rem;
}

/////////////////
//   CONTENT
/////////////////

.rollers {
    @include flex-row();
    
    @media only screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }

    &__many {
        margin-bottom: 1rem;
        font-size: 2.5rem;

        @media only screen and (max-width: 700px) {
            font-size: 2rem;
        }
    }
}

//////////////////////
//   DICE COMPONENT
//////////////////////

.die {
    @include flex-row();
    align-items: center;
    width: 30rem;
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
    color: white;
    
    @media only screen and (max-width: 700px) {
        margin-bottom: 1rem;
    }

    &__counter {
        @include flex-row();
        align-items: center;
        width: 12rem;
        
        &__value{
            text-align: center;
            width: 2rem;
        }

        &__button {
            @include button-shape();
            background-image: linear-gradient( to top left, rgb(211, 13, 13), rgb(216, 103, 11));
            font-size: 1.4em;
            width: 4rem;

            &:hover{
                background-image: linear-gradient( to top left, rgb(145, 15, 15), rgb(216, 103, 11));
            }
            
            &--increment {
                background-image: linear-gradient( to top left, rgb(37, 207, 31), rgb(155, 155, 155));

                &:hover{
                    background-image: linear-gradient( to top left, rgb(26, 146, 22), rgb(155, 155, 155));
                }
            }
       
            @media only screen and (max-width: 700px) {
                font-size: 1.6rem;
            }
        }
    }

    &__name {
        margin: 0 2rem;
    }

    &__roll {
        @include button-shape();
        @include button-content();
        background-image: linear-gradient( to top left, rgb(73, 73, 73), rgb(155, 155, 155));
        transition: all .4s;

        &:hover{
            background-image: linear-gradient( to top left, rgb(32, 32, 32), rgb(155, 155, 155));
        }
        
        @media only screen and (max-width: 700px) {
                font-size: 1.6rem;
        }
    }
}

//////////////////////
//   RESULT COMPONENT
//////////////////////

.result {
    width: 30rem;
    
    &__top {
        @include flex-row();

        @media only screen and (max-width: 700px) {
            font-size: 2rem;
        }
    } 

    &__header {
        border-bottom: 1px solid white;
        font-size: 3rem;
    }

    &__value {
        margin-bottom: 1rem;
        font-size: 2.5rem;

        @media only screen and (max-width: 700px) {
            font-size: 2rem;
            margin-bottom: .3rem;
        } 
    }

    &__clear {
        @include button-shape();
        @include button-content(); 
        background-image: linear-gradient( to top left, rgb(216, 104, 0), rgb(243, 134, 44));

        &:hover{
            background-image: linear-gradient( to top left, rgb(168, 81, 0), rgb(243, 134, 44));
        }

        @media only screen and (max-width: 700px) {
            font-size: 1.6rem;
        } 
    }
}
